@import url('https://fonts.googleapis.com/css2?family=Muli:wght@100;200;300;400;500;600;800;900&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  overflow-x: hidden;
  font-family: 'Muli', sans-serif;
}

.container {
  max-width: 1247px;
  width: 100%;
  margin: 0 auto;
}

.uy {
  color: #1f1534;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  opacity: 50%;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.menu {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.uy:hover {
  color: #1f1534;
  opacity: 1;
}

.mavzu {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
  padding-bottom: 25px;
}

.matn {
  font-weight: 300;
  font-size: 21px;
  line-height: 32px;
  color: #7d7987;
  padding-bottom: 45px;
}

.btn {
  width: 200px;
  height: 60px;
  top: 643px;
  left: 246px;
  border-radius: 55px;
  background-color: #fff;
  border: 2px solid #458ff6;
  color: #458ff6;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  cursor: pointer;
  transition: 0.4s;
}

.btn:hover {
  background-color: #458ff6;
  color: #fff;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.hero-info {
  width: 445px;
}

.element {
  position: absolute;
  top: -12px;
  left: -170px;
  padding-top: 63px;
  padding-bottom: 8px;
}

.rasm {
  padding-top: 84px;
}

.box {
  text-align: center;
  padding-top: 169px;
}

.mavzu2 {
  padding-bottom: 26px;
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
}

.tayoq {
  padding-bottom: 33px;
}

.matn2 {
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  height: 60px;
  color: #7d7987;
  width: 952px;
  margin: 0 auto;
}

.rasm2 {
  width: 650px;
  height: 477px;
  top: 2318px;
  left: 135px;
}

.mavzu3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 56px;
  padding-bottom: 26px;
}

.tayoq2 {
  width: 56px;
  height: 2px;
  top: 2513px;
  left: 927px;
  border-radius: 10px;
  margin-bottom: 31px;
  margin-top: 26px;
}

.matn3 {
  font-weight: 300px;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
  width: 450px;
  height: 120px;
}

.btn2 {
  margin-top: 80px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  width: 200px;
  height: 56px;
  border-radius: 55px;
  border: 1.4px solid #458ff6;
  color: #458ff6;
}

.bosh,
.rasmcha2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 265px;
}

.mavzu4 {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 30px;
}

.matn4 {
  font-weight: 300px;
  font-size: 18px;
  line-height: 30px;
  color: #7d7987;
  width: 420px;
  height: 120px;
  /* padding-top: 31px; */
  padding-bottom: 40px;
  padding-top: 31px;
}

.btn3 {
  margin-top: 80px;
  font-weight: 700;
  font-size: 18px;
  line-height: 60px;
  width: 200px;
  height: 56px;
  border-radius: 55px;
  border: 1.4px solid #458ff6;
  color: #458ff6;
}

.cards {
  background-image: url('../images/kotta\ rasm.png');
  background-repeat: no-repeat;
  background-size: contain;
  margin-top: 78px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  column-gap: 35px;
  row-gap: 37px;
  position: relative;
}

.items-tue {
  width: 350px;
  height: 354px;
  padding: 58px 52px 47px 36px;
  box-shadow: 10px 40px 50px 0px #e5e9f666;
  text-align: center;
  border-radius: 20px;
  background-color: #fff;
}

.items-mavzu {
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  color: #000;
  padding-top: 19.41px;
}

.items-matn {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  color: #7d7987;
}

.element-1 {
  position: absolute;
  top: 300px;
  right: -50px;
  z-index: -1;
}
